body {
  font-family: Arial, Helvetica, sans-serif;
}

#bodyBlock {
  width: 700px;
  margin: auto;
}

#output {
  margin: 1em 0;
  color: black;
  background-color: #fee;
  padding: 1em;
  border: 1px solid #ddd;
}

fieldset {
  padding-top: 1em;
}

.field {
  width: 120px;
  margin: 0 0.5em 0.5em 0;
  float: left;
  clear: left;
  text-align: right;
}

.value {
  margin: 0 0 0.5em 0;
}

#save {
  float: right;
}

/*Adress crime 4 w ts*/
input:focus,
textarea:focus {
  background-color: #fee;
}